<section id="banner" style="background-image: url({{ theme:images src="banner.jpg" }}), url({{ theme:images src="overlay.jpg" }})">
    <div class="content">
        <div class="inner">
            <header>
                <h2>A-MAMI</h2>
                <p>la asocación para el mejoramiento de la atención materno infantil</p>
            </header>
            <ul class="actions">
                <li><a href="#" class="button huge">Learn More</a></li>
            </ul>
        </div>
    </div>
</section>

{{# {{ theme:images src="overlay.png" }}), linear-gradient(45deg, rgba(39, 161, 227, 0.65), rgba(231, 35, 42, 0.65)), #}}