{{ home_cta }}
    <section id="two" class="wrapper cta" style="background-image: linear-gradient(45deg, rgba(39, 161, 227, 0.65), rgba(231, 35, 42, 0.65)), url({{ theme:images src="cta.jpg" }})">
        <div class="inner">
            <header>
                <h2> {{ nombre }}</h2>
                <ul class="actions">
                    <li><a href="#" class="button big">{{ cta }}</a></li>
                </ul>
            </header>
            <p> {{ content }}</p>
        </div>
    </section>
{{ /home_cta }}
