<section id="three" class="wrapper">
    <div class="inner">
        <header class="major">
            <h2>Convallis amet interdum</h2>
            <p>Sed magna in pharetra ultricies dolor sit amet consequat adipiscing lorem.</p>
        </header>
        <div class="posts">
            <section class="post">
                <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                <div class="content">
                    <h3>Ultricies sed lorem</h3>
                    <p>Lorem ipsum dolor sit amet interdum arcu pulvinar lorem ipsum sed feugiat etiam sed magna adipiscing.</p>
                    <a href="#" class="button">More</a>
                </div>
            </section>
            <section class="post">
                <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                <div class="content">
                    <h3>Imperdiet egestas</h3>
                    <p>Lorem ipsum dolor sit amet interdum arcu pulvinar lorem ipsum sed feugiat etiam sed magna adipiscing.</p>
                    <a href="#" class="button">More</a>
                </div>
            </section>
            <section class="post">
                <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                <div class="content">
                    <h3>Urna varius</h3>
                    <p>Lorem ipsum dolor sit amet interdum arcu pulvinar lorem ipsum sed feugiat etiam sed magna adipiscing.</p>
                    <a href="#" class="button">More</a>
                </div>
            </section>
            <section class="post">
                <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                <div class="content">
                    <h3>Elit ligula commodo</h3>
                    <p>Lorem ipsum dolor sit amet interdum arcu pulvinar lorem ipsum sed feugiat etiam sed magna adipiscing.</p>
                    <a href="#" class="button">More</a>
                </div>
            </section>
            <section class="post">
                <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
                <div class="content">
                    <h3>Rutrum sed erat</h3>
                    <p>Lorem ipsum dolor sit amet interdum arcu pulvinar lorem ipsum sed feugiat etiam sed magna adipiscing.</p>
                    <a href="#" class="button">More</a>
                </div>
            </section>
            <section class="post">
                <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
                <div class="content">
                    <h3>Cubilia metus</h3>
                    <p>Lorem ipsum dolor sit amet interdum arcu pulvinar lorem ipsum sed feugiat etiam sed magna adipiscing.</p>
                    <a href="#" class="button">More</a>
                </div>
            </section>
        </div>
    </div>
</section>