<section id="three" class="wrapper">
    <div class="inner">
        <header class="major">
            <h2>Convallis amet interdum</h2>
            <p>Sed magna in pharetra ultricies dolor sit amet consequat adipiscing lorem.</p>
        </header>
        <div class="posts">
            {{ collection from="{collection}" limit="{limit}" }}
                <section class="post">
                    <a href="#" class="image"><img src="{{ imagen|join }}" alt="" /></a>
                    <div class="content">
                        <h3>{{ nombre }}</h3>
                        <p>{{ precio }}</p>
                        <a href="/contact/" class="button">Contacto {{ cta }}</a>
                    </div>
                </section>
            {{ /collection }}
        </div>
    </div>
</section>