<footer id="footer" style="background-size: cover cover; background-image: url({{ theme:images src="footer.jpg" }}), url({{ theme:images src="overlay.jpg" }})">
    <div class="content">
        <div class="inner">
            <section class="about">
                <h3>Integer vitae sed feugiat</h3>
                <p>Lorem ipsum dolor sit amet interdum mollis sapien. Sed amet ac lorem ipsum interdum tempus sagittis lorem tempus.</p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul>
            </section>
            <ul class="icons bulleted">
                <li class="icon fa-map-marker">
                    <h3>Dirección</h3>
                    <p>A-MAMI<br />
                        Puno, Peru<br />
                        Suite 5432<br />
                        Nashville, TN 00000</p>
                </li>
            </ul>
            <ul class="icons bulleted">
                <li class="icon fa-phone">
                    <h3>Phone</h3>
                    <p>COMING SOON</p>
                </li>
                <li class="icon fa-envelope-o">
                    <h3>Email</h3>
                    <p><a href="#">laura@a-mami.org</a></p>
                </li>
            </ul>
        </div>
    </div>
    <p class="copyright">&copy; A-MAMI.<br />
        <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
</footer>