<head>
    <title>A-MAMI</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]>{{ theme:js src="ie/respond.min" tag="true" }}<![endif]-->
    <link rel="stylesheet" href="{{ theme:css }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/css/flag-icon.min.css">
    {{ partial:favicon }}
</head>