<!DOCTYPE HTML>
<!--
	Archetype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>

	{{ partial src="layout/head" }}
	<body class="landing">

		{{ partial src="layout/header" }}

		<!-- Banner -->
		{{ partial src="components/banner" }}

		<!-- Features List -->
		{{ partial src="components/features-list" }}

		<!-- Home Call to Action -->
		{{ partial src="components/home-cta" }}

		<!-- Recent Posts -->
		{{ partial src="components/recent-posts" }}

		<!-- Footer -->
		{{ partial src="layout/footer" }}

		<!-- Scripts -->

		{{ partial src="layout/scripts" }}

	</body>
</html>
